@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css?family=Exo:700');
@import url('https://fonts.googleapis.com/css?family=Abel');
@font-face {
  font-family: 'MyFont'; /* name you'll use in CSS */
  src: url('fonts/myfont.ttf') format('ttf'); /* adjust path as needed */
  font-weight: normal;
  font-style: normal;
}


:root {
  --bg-color: #0d0d0d;
  --text-color: #dcdcdc;
  --accent-color: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background:url(assets/portback2.png) no-repeat center center fixed;
  background-size: cover;
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(13, 13, 13, 0.95);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 255, 255, 0.1);
}

header h1 {
  color: var(--accent-color);
  font-family: 'myfont2';
  font-size: 2rem;
  text-shadow:
    0 0 5px var(--accent-color),
    0 0 10px var(--accent-color),
    0 0 20px var(--accent-color),
    0 0 40px var(--accent-color);
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: var(--accent-color);
  padding: 10px;
  font-weight: bold;
  transition: color 0.3s ease;
  margin-right: 1rem;
}

.nav-link:hover {
  color: rgb(196, 10, 165);
}

/* Underline animation */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* under the text */
  width: 0%;
  height: 2px;
  background-color: rgb(196, 10, 165);
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

main {
  margin-top: 80px;
}

/* Background for all sections */
section {
  min-height: 100vh;
  height: auto;
  padding: 100px 20px;
  color: #0ff;
  font-family: 'Courier New', monospace;
  scroll-margin-top: 60px;
}

/* Shared content container */
.section-content {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

#hero {
  display: flex;
  justify-content: space-between;
  padding: 120px 40px 60px 40px;
  flex-wrap: wrap;
  gap: 40px;
}

.intro {
  flex: 1;
  padding: 20px;
  min-width: 300px;
  margin-top:5%;
  margin-left: 10%;
  
}

.intro h1 {
  font-size: 4rem;
  color: var(--accent-color);
  text-shadow:
    0 0 5px var(--accent-color),
    0 0 10px var(--accent-color),
    0 0 20px var(--accent-color),
    0 0 40px rgb(0, 255, 242);
}

.intro h2 {
  font-size: 1.8rem;
  margin-top: 10px;
  color: #fff;
}
.intro p{
  font-size: 1rem;
  justify-content: center;
  line-height: 1.8;
  margin-bottom: 4em;
}
.cursor {
  color: var(--accent-color);
  font-weight: bold;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.description {
  margin-top: 1rem;
  font-size: 1rem;
  color: #ccc;
  width: 80%;
  text-align: justify;
}

.portrait {
  flex: 1;
  display: flex;
  min-width: 300px;
}

.portrait img {
  width: 95%;
  background: transparent;
  object-fit: contain;
  position: relative;
  top: 40px;
}
.portrait img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}


/* SOCIAL ICONS */

.custom-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-top: 2rem;
  gap: 1.5rem;
}

.custom-social li {
  position: relative;
  right: 150px;
}

.custom-social li a {
  text-decoration: none;
  display: block;
  width: 120px;
  height: 40px;
  background: #b91919;
  text-align: left;
  padding-left: 5px;
  transform: rotate(-30deg) skew(25deg);
  transition: 0.5s;
  box-shadow: -10px 10px 6px rgba(0, 0, 0, 0.3);
  position: relative;
}

.custom-social li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  background: #610000;
  transform: skewY(-45deg);
}

.custom-social li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  background: #e47474;
  transform: skewX(-45deg);
}

.custom-social li a .fa {
  font-size: 1em;
  color: #ffffff;
  line-height: 60px;
  padding-right: 10px;
  transition: 0.5s;
}

.custom-social li a span {
  font-size: 0.8rem;
  position: absolute;
  top: 5px;
  color: #d3d3d3;
  letter-spacing: 2px;
  transition: 0.5s;
}

.custom-social li:hover a {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
}

.custom-social li:hover .fa,
.custom-social li:hover span {
  color: #fff;
}

/* Unique color for each */

.custom-social li:nth-child(1):hover a {
  background: #229ED9; /* Telegram Blue */
}
.custom-social li:nth-child(1):hover a:before {
  background: #1b89bd;
}
.custom-social li:nth-child(1):hover a:after {
  background: #2cb8e6;
}

.custom-social li:nth-child(2):hover a {
  background: #0077b5;
}
.custom-social li:nth-child(2):hover a:before {
  background: #005f95;
}
.custom-social li:nth-child(2):hover a:after {
  background: #3393c5;
}

.custom-social li:nth-child(3):hover a {
  background: #333;
}
.custom-social li:nth-child(3):hover a:before {
  background: #222;
}
.custom-social li:nth-child(3):hover a:after {
  background: #444;
}

.custom-social li:nth-child(4):hover a {
  background: #ec410d;
}
.custom-social li:nth-child(4):hover a:before {
  background: #7e1e06;
}
.custom-social li:nth-child(4):hover a:after {
  background: #d6840a;
}


/* About Section */
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  color: var(--text-color);
}

.about-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.about-image img {
  width: 90%;
  border-radius: 12px;
  object-fit: contain;
  background: transparent;
  position: relative;
  right: 10%;
  bottom: 100px;
}

.about-text {
  width: 60%;
  line-height: 1.8;
  font-size: 1rem;
  text-align: justify;
}

.about-text h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color:var(--accent-color);
  text-shadow:
    0 0 5px var(--accent-color),
    0 0 10px var(--accent-color),
    0 0 20px var(--accent-color),
    0 0 40px rgb(0, 255, 242);
}

.about-intro {
  font-size: 0.9rem;
  margin-bottom: 25px;
  line-height: 1.6;
}

.about-info {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 30px;
  margin-top: 1rem;
  width: 90%;
  height: 10vh;
}

@keyframes dropIn {
  0% {
    transform: translateY(-200px) scale(0.8);
    opacity: 0;
  }
  60% {
    transform: translateY(20px) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.status-box {
  flex: 1 1 100px;
  background: rgba(255, 0, 0, 0.1);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid var(--accent-color);
  color: #fff;
  opacity: 0;
  transform: translateY(-200px);
  transition: transform 0.3s ease;
  font-size: 0.8rem;
}

.status-box.show {
  animation: dropIn 0.7s ease-out forwards; /* ← this “forwards” is the key */
}


.cv-button {
  display: inline-block;
  padding: 12px 20px;
  background: transparent;
  color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
  border: solid 1px;
  border-radius: 20px;
  transition: background 0.3s;
  font-size: 0.8rem;
  position: relative;
  top: 1rem;
}
.cv-button:hover {
  background: #cc0000;
  color: #880202;;
}



#skills-section {
  padding: 40px 80px;
}

.skills-content {
  display: flex;
  gap: 5em;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

/* Left side: paragraph */
.skills-left {
  flex: 1 1 450px;
  max-width: 40%;
  color: #eee;
  line-height: 1.8;
}

.skills-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color:var(--accent-color);
  text-shadow:
    0 0 5px var(--accent-color),
    0 0 10px var(--accent-color),
    0 0 20px var(--accent-color),
    0 0 40px rgb(0, 255, 242);
}

.skills-text {
  font-size: 1rem;
  line-height: 1.8;
  color: #ffffff;
}

/* Right side: cards container */
.skills-right {
  flex: 1 1 50%; /* smaller base width */
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-wrap: wrap; /* allow wrapping on narrow screens */
}

/* Skill cards */
.skill-card {
  flex: 0 0 calc(33% - 20px);/* fixed width so 3 fit horizontally if space */
  text-align: center;
  height: 40%;
  padding: 25px;
  border-radius: 15px;
  border:1px solid red;
  background: linear-gradient(145deg, #d11d1dea, #2010ac5e);
  color: white;
  box-shadow: 0 20px 60px rgba(0,0,0,0.5);
  cursor: pointer;
  transition: transform 0.6s, box-shadow 0.6s;
  transform-style: preserve-3d;
  transform: rotateX(65deg) translateY(-100px) translateZ(-50px);
}

/* Card background gradients */


.skill-card:hover {
  transform: rotateX(0deg) translateY(0) translateZ(0);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.skill-card img {
  margin-top: 15px;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.skill-card h3 {
  font-size: 26px;
  margin: 20px 0 10px;
  text-shadow: 0 0 2px rgb(255,255,255);
}

.skill-card p {
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 0 10px;
  line-height: 1.4;
}



#projects {
  padding: 80px 40px;
  color: #fff;
  text-align: center;
}

.section-title {
  font-size: 3rem;
  margin-bottom: 40px;
  color: var(--accent-color);
  text-shadow:
    0 0 5px var(--accent-color),
    0 0 10px var(--accent-color),
    0 0 20px var(--accent-color),
    0 0 40px rgb(0, 255, 242);
}

.projects-container {
  margin-top: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

/* Project Card Styling */
.project-card {
  position: relative;
  width: 17%;
  height: 50vh;
  background: #111;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
  overflow: hidden;
  box-shadow: inset 80px 0 50px rgba(255, 255, 255, 0.03);
  border: 1px solid #222;
}

.project-card:hover {
  z-index: 5;
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(255, 255, 255, 0.1);
}

.project-card .img-container {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: left;
  z-index: 1;
  transition: 1s;
}

.project-card .img-container img {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card:hover .img-container {
  transform: rotateY(-135deg);
}

.project-card .card-details {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #d6d6d6;
  height: 100%;
  color: #000000;
  box-sizing: border-box;
}

.project-card .card-details h2 {
  margin: 20px 0 10px;
  font-size: 1.4rem;
  color: #ff0000;
}

.project-card .card-details p {
  font-size: 0.95rem;
  line-height: 1.5;
  color: #000000;
}



#hobby-section {
  padding: 80px 20px;
  text-align: justify;
  color: white;
}

.hobby-intro h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
  color: var(--accent-color);
  text-shadow:
    0 0 5px var(--accent-color),
    0 0 10px var(--accent-color),
    0 0 20px var(--accent-color),
    0 0 40px rgb(0, 255, 242);
}

.hobby-intro p {
  width: 75%;
  margin: 0 auto 50px;
  font-size: 1rem;
  line-height: 1.8;
}

/* Slider Styling */
.slider-wrapper {
  position: relative;
  max-width: 90%;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  gap: 2em;
  transition: transform 0.4s ease-in-out;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slider img {
  height: 60vh;
  width: auto;
  flex-shrink: 0;
  border-radius: 10px;
  cursor: pointer;
  scroll-snap-align: center;
  transition: transform 0.3s;
}

.slider img:hover {
  transform: scale(1.05);
}

/* Buttons */
.slide-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  border-radius: 50%;
}

.slide-btn.prev { left: 10px; }
.slide-btn.next { right: 10px; }

/* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 60px;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 80%;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px; right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}



/* Contact Section */
#contact-section {
  padding: 80px 20px;
  background: transparent;
  color: #fff;
  display: flex;
  justify-content: center;
  
}

.contact-container {
  width: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form label {
  font-size: 1rem;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 15px;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: #fff;
  resize: none;
  outline: none;
  transition: border 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: rgb(255, 0, 0);
  box-shadow: 0 0 5px rgb(255, 0, 0);
}

.contact-form button {
  background-color: var(--accent-color);
  border: none;
  padding: 8px;
  width: 20%;
  font-size: 1rem;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background-color: rgb(138, 20, 20);
  color: black;
}


.footer {
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 20px;
  font-size: 0.95rem;
  position: relative;
  z-index: 2;
}

.footer-name {
  color: red;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-name:hover {
  color: #ff5e5e;
}




@media (max-width: 768px) {

  body {
    background:black;
    overflow-x: hidden;
    
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-left: 0; /* pushes hamburger to right */
    background: black;
  }

  .menu-toggle span {
    display: block;
    height: 3px;
    background-color: var(--accent-color); /* red in your root */
    border-radius: 2px;
    transition: 0.3s;
  }

  #navbar {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px; /* just below header */
    left: 40%;
    background-color: rgba(13, 13, 13, 0.95);
    width: 200px;
    padding: 1rem;
    box-shadow: -2px 0 10px rgba(0,0,0,0.5);
    z-index: 1100;
    font-size: 1rem;
  }

  #navbar.show {
    display: flex;
  }
  .nav-link{
    font-size: 0.9rem;
  }

  header h1{
    font-size: 1.5rem;
  }
  main {
    margin-top: 0px;
  }

  #hero{
    width: 95%;
  }

  .intro {
    flex: 1;
    width: 100%;
    margin-top:5%;
    position: relative;
    right: 18%;
  }
  
  .intro h1 {
    font-size: 2rem;
    width: 100vw;
  }
  .intro h2 {
    font-size: 1rem;
    margin-top: 10px;
    color: #fff;
  }
  .intro p{
    font-size: 1rem;
    width: 83vw;
  }
  .portrait {
    flex: 1;
    display: flex;
    width: 200px
  }
  
  .portrait img {
    width: 85%;
    left: 30px;
  }
  .custom-social{
    width: 110vw;
    gap: 0.2rem;
    position: relative;
    left: 90px;
  }
  .custom-social li a {
    width: 75px;
    height: 20px;
    padding-left: 5px;
    position: relative;
  }
  .custom-social li a .fa {
    font-size: 0.7em;
    line-height: 30px;
    padding-right: 5px;
  }
  
  .custom-social li a span {
    position: absolute;
    top:-5px;
    letter-spacing: 2px;
    font-size: 0.5rem;
  }

  #about{
    padding-top: 150px;
  }
  .about-image img {
    width: 70%;
    border-radius: 12px;
    object-fit: contain;
    background: transparent;
    position: relative;
    left: 12%;
  }
  .about-text{
    width: 95%;
    font-size: 1rem;
    position: relative;
    bottom: 100px;
  }
  .about-text h2{
    font-size: 1.5rem;
    text-align: center;
  }
  .status-box{
    padding: 10px;
  }
  .status-box h3{
    font-size: 1rem;
  }
  .status-box p{
    font-size: 0.9rem;
  }
  .cv-button{
    position: relative;
    top: 230px;
    border-radius: 10px;
  }
  #skills-section{
    padding: 10px 40px;
    position: relative;
    top: 100px;
  }
  .skills-title{
    font-size: 1.5rem;
    width: 40vw;
  }

  .skills-text{
    width: 82vw;
    font-size: 1rem;
    text-align: justify;
    position: relative;
    right:27vw;
  }

  .skills-right {
    justify-content: center;
    position: relative;
    bottom: 50px;
  }

  .skill-card {
    flex: 0 0 calc(50% - 20px); /* Two per row */
    transform: none;
    translate: none;
    height: auto;
    padding: 5px;
  }
  .skill-card img{
    width: 40px;
    height: 40px;
  }
  .skill-card h3{
    font-size: 1rem;
    margin-top:5px;
  }
  .skill-card p{
    font-size: 1rem;
    width: 25vw;
    text-align: start;
    padding: 0;
  }
  #projects{
    padding: 40px 20px;
    position: relative;
    top: 100px;
  }
  #projects h2{
    font-size: 1.5rem;
  }
  .project-card, .card-details{
    width: 40vw;
    height: 40vh;
    gap: 0.5rem;
  }
  .projects-container{
    margin-top: 1rem;
  }

  .projects-container .project-card .card-details h2{
    font-size: 1rem;
    margin-top: 0px;
    position: relative;
    right: 15px;
  }
  .projects-container .project-card .card-details p{
    line-height: 1;
    font-size: 0.8rem;
    text-align: center;
    padding: 5px;
    width: 40vw;
    position: relative;
    right: 15px;
    bottom: 5px;
  }
  #hobby-section{
    position: relative;
    top: 130px;
    padding-top: 40px;
  }
  .hobby-intro h2{
    font-size: 1.5rem;
  }
  .hobby-intro p{
    width: 95%;
    text-align: justify;
    font-size: 1rem;
  }
  #contact-section{
    position: relative;
    top: 150px;
    padding-top: 40px;
    padding-bottom: 0px;
  }
  .contact-container{
    width: 95%;
  }
  .contact-container h2{ 
    font-size: 1.5rem;
    text-align: center;
  }
  .contact-form label{
    font-size: 1rem;
  }
  .contact-form textarea{
    font-size: 1rem;
  }
  .contact-form input{
    font-size: 1rem;
  }
  .contact-form button{
    font-size: 1.2rem;
    width: 30%;
    padding: 8px;
  }
}

/* On larger screens hide the toggle */
@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
  nav#navbar {
    display: flex !important;
  }
}
